@charset "UTF-8";
/* ========================================
変数
========================================= */
/* ========================================
レスポンシブ
========================================= */
/* ========================================
ボディー
========================================= */
.about {
  font-family: "メイリオ", Meiryo;
  background-color: #ffffff;
  /* ========================================
  ヘッダー
  ========================================= */
  /* ========================================
  ラッパー
  ========================================= */
  /* ========================================
  フッター
  ========================================= */ }
  .about .header {
    background-color: #242830;
    width: 100%;
    height: 140px; }
    .about .header .header__nav {
      height: auto;
      font-size: 24px;
      padding-left: 60px;
      line-height: 150px;
      text-decoration: none;
      display: inline-block; }
      .about .header .header__nav .header__nav-link {
        text-decoration: none; }
        .about .header .header__nav .header__nav-link .header__nav-icon {
          color: #ffffff;
          font-weight: bold;
          display: inline;
          padding-bottom: 3px; }
          .about .header .header__nav .header__nav-link .header__nav-icon:hover {
            transition-duration: 0.3s;
            border-bottom: 2px solid #ffffff; }
  .about .wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto;
    /* ========================================
    イントロダクション
    ========================================= */
    /* ========================================
    インフォメーション
    ========================================= */ }
    .about .wrapper .intro {
      width: 1150px;
      height: auto;
      text-align: center;
      margin: 0 auto 195px auto; }
      @media (max-width: 1150px) {
        .about .wrapper .intro {
          width: 850px; } }
      @media (max-width: 900px) {
        .about .wrapper .intro {
          width: 600px; } }
      @media (max-width: 600px) {
        .about .wrapper .intro {
          width: 100%;
          padding: 0 10px;
          box-sizing: border-box; } }
      .about .wrapper .intro .intro-title {
        font-size: 24px;
        padding-top: 80px;
        letter-spacing: 0.1em; }
      .about .wrapper .intro .intro-text {
        margin: 10px 0; }
        .about .wrapper .intro .intro-text .intro-url {
          text-decoration: none;
          color: #000000; }
          .about .wrapper .intro .intro-text .intro-url:hover {
            transition-duration: 0.3s;
            color: #819ddb; }
      .about .wrapper .intro .intro__detail .intro__detail-image {
        height: 500px;
        float: left;
        padding: 25px 30px 0 0; }
        @media (max-width: 900px) {
          .about .wrapper .intro .intro__detail .intro__detail-image {
            clear: both;
            height: 100%; } }
        @media (max-width: 600px) {
          .about .wrapper .intro .intro__detail .intro__detail-image {
            width: 100%; } }
        .about .wrapper .intro .intro__detail .intro__detail-image #image {
          width: 350px; }
          @media (max-width: 1150px) {
            .about .wrapper .intro .intro__detail .intro__detail-image #image {
              width: 250px;
              height: 350px; } }
          @media (max-width: 900px) {
            .about .wrapper .intro .intro__detail .intro__detail-image #image {
              width: 100%;
              height: 100%;
              margin-bottom: 20px; } }
          @media (max-width: 600px) {
            .about .wrapper .intro .intro__detail .intro__detail-image #image {
              height: 500px; } }
      .about .wrapper .intro .intro__detail .intro__detail-text {
        margin-right: 90px;
        line-height: 1.5em;
        text-align: left;
        padding-top: 20px;
        color: #a5a5a5;
        margin-left: 280px; }
        @media (max-width: 900px) {
          .about .wrapper .intro .intro__detail .intro__detail-text {
            margin: 0 50px 0 5px; } }
        @media (max-width: 600px) {
          .about .wrapper .intro .intro__detail .intro__detail-text {
            margin: 0 20px 0 5px; } }
        .about .wrapper .intro .intro__detail .intro__detail-text .text-link {
          text-decoration: none;
          color: #000000;
          cursor: pointer;
          cursor: hand;
          transition-duration: 0.3s;
          display: inline-block; }
          .about .wrapper .intro .intro__detail .intro__detail-text .text-link:hover {
            transition-duration: 0.3s;
            color: #819ddb;
            -webkit-transform: scale(1.1);
            transform: scale(1.1); }
    .about .wrapper .info {
      width: 100%;
      height: 1000px;
      background-color: #f3f5f8; }
      .about .wrapper .info .info__inner {
        width: 1150px;
        height: auto;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 100px;
        /* ========================================
        フロート解除
        ========================================= */ }
        @media (max-width: 1150px) {
          .about .wrapper .info .info__inner {
            width: 850px; } }
        @media (max-width: 900px) {
          .about .wrapper .info .info__inner {
            width: 600px; } }
        @media (max-width: 600px) {
          .about .wrapper .info .info__inner {
            width: 100%;
            padding: 0 10px;
            box-sizing: border-box; } }
        .about .wrapper .info .info__inner .info__inner-title {
          font-size: 30px;
          color: #a5a5a5;
          letter-spacing: 0.2em;
          padding: 100px 0;
          font-weight: bold; }
        .about .wrapper .info .info__inner .info__inner__desc {
          float: left;
          width: 350px;
          height: 200px;
          margin: 100px 16.5px;
          opacity: 0;
          transform: translate(0, 100px);
          transition: all 2s; }
          .about .wrapper .info .info__inner .info__inner__desc.active {
            opacity: 1;
            transform: translate(0, 0); }
          @media (max-width: 1150px) {
            .about .wrapper .info .info__inner .info__inner__desc {
              width: 100%;
              margin: 0; } }
          .about .wrapper .info .info__inner .info__inner__desc .info__inner__desc-webDesign {
            background: url(images/first-icon.png) center top no-repeat; }
          .about .wrapper .info .info__inner .info__inner__desc .info__inner__desc-webDeve {
            background: url(images/second-icon.png) center top no-repeat; }
          .about .wrapper .info .info__inner .info__inner__desc .info__inner__graphic {
            background: url(images/third-icon.png) center top no-repeat; }
          .about .wrapper .info .info__inner .info__inner__desc .info__inner__desc-title {
            padding-top: 80px;
            position: relative;
            display: inline-block;
            margin-bottom: 1em;
            letter-spacing: 0.2em;
            font-size: 18px; }
            .about .wrapper .info .info__inner .info__inner__desc .info__inner__desc-title:before {
              content: '';
              position: absolute;
              left: 50%;
              bottom: -15px;
              display: inline-block;
              width: 60px;
              height: 2px;
              -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
              background-color: #819ddb;
              border-radius: 2px; }
          .about .wrapper .info .info__inner .info__inner__desc .info__inner__desc-text {
            margin-top: 25px;
            font-size: 18px;
            color: #a5a5a5;
            padding-bottom: 100px; }
        .about .wrapper .info .info__inner .clear {
          clear: both; }
        .about .wrapper .info .info__inner .info__inner__contact {
          margin-top: 100px;
          display: inline-block;
          letter-spacing: 0.1em;
          border-bottom: 2px solid #819ddb;
          padding-bottom: 10px;
          font-size: 20px; }
          .about .wrapper .info .info__inner .info__inner__contact .info__inner__contact-link {
            text-decoration: none;
            color: #000000;
            display: inline-block;
            transition-duration: 0.3s; }
            .about .wrapper .info .info__inner .info__inner__contact .info__inner__contact-link:hover {
              transition-duration: 0.3s;
              color: #819ddb;
              -webkit-transform: scale(1.1);
              transform: scale(1.1); }
  .about .footer {
    width: 100%;
    height: auto;
    background-color: #242830; }
    .about .footer .footer__menu {
      text-align: center;
      padding: 50px 0; }
      .about .footer .footer__menu .footer__menu__inner {
        padding: 100px 20px;
        display: inline-block;
        opacity: 0.8; }
        @media (max-width: 900px) {
          .about .footer .footer__menu .footer__menu__inner {
            display: block;
            width: 100%;
            padding: 30px 0; } }
      .about .footer .footer__menu .footer__menu__inner-button {
        color: #ffffff;
        border-radius: 5px;
        text-decoration: none;
        padding: 15px; }
        .about .footer .footer__menu .footer__menu__inner-button:hover {
          border: 1px solid #819ddb;
          padding: 14px;
          color: #819ddb;
          transition-duration: 0.3s;
          color: #819ddb; }
    .about .footer .copyright {
      padding-bottom: 70px;
      text-align: center;
      color: #ffffff;
      font-size: 10px;
      opacity: 0.5; }

/*# sourceMappingURL=aboutStyle.css.map */
