@charset "UTF-8";
/* ========================================
変数
========================================= */
/* ========================================
    レスポンシブ
========================================= */
/* ========================================
    ボディー
========================================= */
.contact {
  font-family: "メイリオ", Meiryo;
  background-color: #ffffff;
  /* ========================================
  ヘッダー
  ========================================= */
  /* ========================================
  コンテイナー
  ========================================= */
  /* ========================================
  フッター
  ========================================= */ }
  .contact .header {
    background-color: #242830;
    width: 100%;
    height: 140px; }
    .contact .header .header__nav {
      height: auto;
      font-size: 24px;
      padding-left: 60px;
      line-height: 150px;
      text-decoration: none;
      display: inline-block; }
      .contact .header .header__nav .header__nav-link {
        text-decoration: none; }
        .contact .header .header__nav .header__nav-link .header__nav-icon {
          color: #ffffff;
          font-weight: bold;
          display: inline;
          padding-bottom: 3px; }
          .contact .header .header__nav .header__nav-link .header__nav-icon:hover {
            transition-duration: 0.3s;
            border-bottom: 2px solid #ffffff; }
  .contact .container {
    width: 100%;
    height: auto;
    margin: 0 auto;
    /* ========================================
    イントロダクション
    ========================================= */
    /* ========================================
    フォーム
    ========================================= */ }
    .contact .container .introduction {
      width: 555px;
      height: auto;
      margin: 0 auto; }
      @media (max-width: 780px) {
        .contact .container .introduction {
          width: auto;
          padding: 0 10px; } }
      .contact .container .introduction .introduction__inner {
        text-align: center; }
        .contact .container .introduction .introduction__inner .introduction__inner-image {
          height: 65px;
          background: url(images/main-icon.png) no-repeat center;
          margin-top: 60px; }
        .contact .container .introduction .introduction__inner .introduction__inner-title {
          font-size: 20px;
          margin: 30px 0;
          letter-spacing: 0.1em; }
        .contact .container .introduction .introduction__inner .introduction__inner-text {
          font-size: 14px;
          color: #a3a3a3;
          margin-bottom: 120px; }
    .contact .container .form {
      background-color: #f3f5f8;
      width: 100%;
      height: auto;
      text-align: center; }
      @media (max-width: 780px) {
        .contact .container .form {
          width: auto;
          padding: 0 10px; } }
      .contact .container .form .form__title {
        margin: 50px 0 35px 0;
        display: inline-block;
        font-weight: bold;
        font-size: 18px;
        letter-spacing: 0.1em; }
      .contact .container .form .form__inner {
        margin: 0 auto;
        width: 100%; }
        .contact .container .form .form__inner .form__inner-input {
          font-size: 15px;
          margin-bottom: 10px;
          width: 535px;
          height: 45px;
          border: solid 0px;
          letter-spacing: 0.07em;
          padding-left: 20px; }
          @media (max-width: 780px) {
            .contact .container .form .form__inner .form__inner-input {
              width: 100%;
              -webkit-box-sizing: border-box; } }
        .contact .container .form .form__inner #form__inner-textarea {
          height: 150px;
          padding-top: 15px; }
      .contact .container .form .form__submit {
        margin: 0 auto;
        padding: 50px 0 100px 0; }
        .contact .container .form .form__submit .form__submit-button {
          font-size: 14px;
          -webkit-appearance: none;
          background-color: #ffffff;
          display: inline-block;
          padding: 20px 50px;
          border-radius: 5px;
          opacity: 0.8; }
          .contact .container .form .form__submit .form__submit-button:hover {
            opacity: 1; }
  .contact .footer {
    width: 100%;
    height: auto;
    background-color: #242830; }
    .contact .footer .footer__menu {
      text-align: center; }
      .contact .footer .footer__menu .footer__menu__inner {
        margin: 100px 20px;
        display: inline-block;
        opacity: 0.8; }
        @media (max-width: 780px) {
          .contact .footer .footer__menu .footer__menu__inner {
            display: block;
            padding: 30px 0;
            margin: 0; } }
      .contact .footer .footer__menu .footer__menu__inner-button {
        color: #ffffff;
        border-radius: 5px;
        text-decoration: none;
        padding: 15px; }
        .contact .footer .footer__menu .footer__menu__inner-button:hover {
          border: 1px solid #819ddb;
          padding: 14px;
          color: #819ddb;
          transition-duration: 0.3s;
          color: #819ddb; }
    .contact .footer .copyright {
      text-align: center;
      color: #ffffff;
      font-size: 12px;
      opacity: 0.8;
      padding-bottom: 50px; }
      @media (max-width: 780px) {
        .contact .footer .copyright {
          width: 100%; } }

/*# sourceMappingURL=contactStyle.css.map */
